* {
  padding:0;
  margin:0;
}

.head {
  text-align:center;
  background-color:LightBlue;
  border-bottom:1px solid Black;
}

.main {
  text-align:center
}
.main img {
  width:85%;
  text-align:center;
}

.quater {
  width:21.5%;
  float:left;
  display:inline-block;
  margin:1.5%;
  border:1px solid Black;
  text-align:center;
  font-size:20pt;
}

.quater img {
  width:100px;
}

@media screen and (min-width: 480px) {
  .body {
  margin: 0 10%;
  }
}

@media screen and (min-width: 720px) {
  .body {
	margin: 0 20%;
  }
}

@media screen and (min-width: 1200px) {
  .body {
	margin: 0 30%;
  }
}
